body {
  margin: 0;
  padding: 0;
  background-image: url('imagenes/FondoRegistro.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flecha1{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
}

.flecha1 img {
  width: 200px;
}

section {
		flex: 2;

	}
aside {
		flex: 1;
		align-items:bottom;

	}


.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.izquierda {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.campo {
  width: 700px;
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background-color: #aaaaaa;
  color: #5e5e5e;
}

.campo2 {
  width: 750px;
  padding: 20px;
  margin: 10px 0;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #ccc;
  background-color: #aaaaaa;
  color: #5e5e5e;
}

input::placeholder {
    font-size: 25px;
  }

.btn-principal {
  background-color: #BAE8D9;
  color:  #4e4e4e;
  padding: 30px 30px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-principal:hover{
  background-color:  #8DC2B1;
}

.titulo-perrito {
  position: relative;
  width: 550px;
  z-index: 3;
  animation: fadeInUp 1.0s ease-out;
}

.titulo-perrito img {
  width: 100%;
  position: relative;
  z-index: 3;
  margin-bottom: -45px;
}

.abajo{
  margin-top: 500px;
}

.gatito-imagen {
  position: relative;
  width: 550px;
  z-index: 3;
  animation: fadeInUp 3.0s ease-out;
}

.gatito-imagen img {
  width: 100%;
  position: relative;
  z-index: 3;
  margin-bottom: -20px;
}

.btn {
  width: 500px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  animation: scaleUp 1.2s ease-out;
  transition: 0.40s ease;
  position: relative;
  z-index: 1;  /* Botones quedan debajo del perrito */
}


@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(-20px); }
  to   { opacity: 1; transform: translateY(0); }
}


@keyframes scaleUp {
  from { transform: scale(0.85); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}